/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

main {
  padding: 40px 10%;
}

.product-category {
  margin-bottom: 50px;
}

.product-category h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.products {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.product {
  width: 250px;
  text-align: center;
  position: relative;
}

.pricetag{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff6f61;
  color: #fff;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.money{
  color: green;
}

.product img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  image-rendering: -webkit-optimize-contrast;
}

.add-to-cart {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #ff4d41;
}

.purchase-options {
  text-align: center;
  margin-top: 40px;
}

.purchase-options select,
.purchase-options button {
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.social-media a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-weight: 500;
}

.social-media a:hover {
  color: #ff6f61;
}

footer p {
  margin-top: 20px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .product-carousel{
    flex-wrap: nowrap;
  }
  .product {
    width: 100%;
    margin-bottom: 20px;
  }

  .product img {
    width: 100%;
    height: auto;
  }

  .pricetag {
    top: 5px;
    left: 5px;
    font-size: 12px;
    padding: 4px 8px;
  }

  .product-category{
    font-size: 20px;
  }

  .category-section {
    flex-direction: column;
    align-items: center;
  }

  .category-section h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}
